*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body{
    font-family: 'Zen Kurenaido', sans-serif;
}

#header {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #eee;
  position: fixed;
  top: 0px;
  align-items: center;
  justify-content: center;
}

#nav-bar{
    margin-left: 20px;
    justify-items: flex-end;
}

a{
    color: black;
    text-decoration: none;
}

#header-img {
  width: 50px;
  height: 50px;
  border-radius: 66px;
}

.nav-link {

    background-color: lightblue;
    border-radius: 99px;
    padding: 5px;
    margin-right: 10px;


}

#video-section {
  width: 500px;
  height: 500px;
  margin: auto;
}

#video {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 320px) {
    
    #header-img {
        width: 30px;
        height: 30px;
        border-radius: 66px;
      }

    #video-section{
        width: 300px;
        height: 200px;
        margin-top: 70px;

    }


}